In [347]:
import pandas as pd
import numpy as np

In [348]:
data1996_2014 = pd.read_csv('../data/발전전력량_추이_1996_2014.csv', encoding='euc-kr')
data2015_2021 = pd.read_csv('../data/발전전력량_추이_2015_2021.csv', encoding='euc-kr')

In [349]:
data1996_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 55 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시점         230 non-null    object
 1   한전 자회사     230 non-null    object
 2   한전 자회사.1   230 non-null    object
 3   한전 자회사.2   230 non-null    object
 4   한전 자회사.3   230 non-null    object
 5   한전 자회사.4   230 non-null    object
 6   한전 자회사.5   230 non-null    object
 7   한전 자회사.6   230 non-null    object
 8   한전 자회사.7   230 non-null    object
 9   한전 자회사.8   230 non-null    object
 10  한전 자회사.9   230 non-null    object
 11  한전 자회사.10  230 non-null    object
 12  한전 자회사.11  230 non-null    object
 13  한전 자회사.12  230 non-null    object
 14  한전 자회사.13  230 non-null    object
 15  한전 자회사.14  230 non-null    object
 16  한전 자회사.15  230 non-null    object
 17  타사         230 non-null    object
 18  타사.1       230 non-null    object
 19  타사.2       230 non-null    object
 20  타사.3       230 non-null    object
 21  타사.4       230 non-null    object
 22  타사.5       230 non-null    object
 23  타사.6       230 non-null    object
 24  타사.7       230 non-null    object
 25  타사.8       230 non-null    object
 26  사업자        230 non-null    object
 27  사업자.1      230 non-null    object
 28  사업자.2      230 non-null    object
 29  사업자.3      230 non-null    object
 30  사업자.4      230 non-null    object
 31  사업자.5      230 non-null    object
 32  사업자.6      230 non-null    object
 33  사업자.7      230 non-null    object
 34  사업자.8      230 non-null    object
 35  사업자.9      230 non-null    object
 36  사업자.10     230 non-null    object
 37  사업자.11     230 non-null    object
 38  사업자.12     230 non-null    object
 39  사업자.13     230 non-null    object
 40  사업자.14     230 non-null    object
 41  사업자.15     230 non-null    object
 42  사업자.16     230 non-null    object
 43  사업자.17     230 non-null    object
 44  상용자가       230 non-null    object
 45  상용자가.1     230 non-null    object
 46  상용자가.2     230 non-null    object
 47  총 발전량      230 non-null    object
 48  총 발전량.1    230 non-null    object
 49  총 발전량.2    230 non-null    object
 50  총 발전량.3    230 non-null    object
 51  총 발전량.4    230 non-null    object
 52  총 발전량.5    230 non-null    object
 53  총 발전량.6    230 non-null    object
 54  총 발전량.7    230 non-null    object
dtypes: object(55)
memory usage: 99.0+ KB

In [350]:
data1996_2014 = data1996_2014.replace('-',0)

In [351]:
data1996_2014.iloc[0,:]

시점                 시점
한전 자회사             소계
한전 자회사.1           수력
한전 자회사.2           수력
한전 자회사.3           수력
한전 자회사.4           기력
한전 자회사.5           기력
한전 자회사.6           기력
한전 자회사.7           기력
한전 자회사.8           기력
한전 자회사.9         복합화력
한전 자회사.10        복합화력
한전 자회사.11        복합화력
한전 자회사.12          집단
한전 자회사.13         내연력
한전 자회사.14          대체
한전 자회사.15         원자력
타사                 소계
타사.1               수력
타사.2               수력
타사.3               수력
타사.4           기력(중유)
타사.5             복합화력
타사.6             복합화력
타사.7             복합화력
타사.8            집단&대체
사업자                소계
사업자.1              수력
사업자.2              수력
사업자.3              수력
사업자.4              수력
사업자.5              기력
사업자.6              기력
사업자.7              기력
사업자.8              기력
사업자.9              기력
사업자.10           복합화력
사업자.11           복합화력
사업자.12           복합화력
사업자.13            내연력
사업자.14            원자력
사업자.15             집단
사업자.16             대체
사업자.17          집단&대체
상용자가               소계
상용자가.1           한전구입
상용자가.2          자가 소비
총 발전량              소계
총 발전량.1            수력
총 발전량.2            기력
총 발전량.3           내연력
총 발전량.4           원자력
총 발전량.5          복합화력
총 발전량.6      사업자+한전구입
총 발전량.7      사업자+상용자가
Name: 0, dtype: object

In [352]:
data1996_2014 = data1996_2014.set_index('시점')

In [353]:
data1996_2014 = data1996_2014.set_index('시점')
data1996_2014.columns = data1996_2014.columns + '-' + data1996_2014.iloc[0,:] + '-' + data1996_2014.iloc[1,:]

KeyError: "None of ['시점'] are in the columns"

In [ ]:
data1996_2014 = data1996_2014.drop('시점',axis=0)

In [ ]:
data1996_2014.head(26)

,한전 자회사-소계-소계,한전 자회사.1-수력-소계,한전 자회사.2-수력-일반,한전 자회사.3-수력-양수,한전 자회사.4-기력-소계,한전 자회사.5-기력-무연탄,한전 자회사.6-기력-유연탄,한전 자회사.7-기력-중유,한전 자회사.8-기력-LNG,한전 자회사.9-복합화력-소계,...,상용자가.1-한전구입-소계,상용자가.2-자가 소비-소계,총 발전량-소계-소계,총 발전량.1-수력-소계,총 발전량.2-기력-소계,총 발전량.3-내연력-소계,총 발전량.4-원자력-소계,총 발전량.5-복합화력-소계,총 발전량.6-사업자+한전구입-소계,총 발전량.7-사업자+상용자가-소계
시점,,,,,,,,,,,,,,,,,,,,,
1996.01,16379503,275441,0,0,8060220,0,0,0,0,2056170,...,0,0,16879415,363291,8408979,72696,5914976,2119473,0,0
1996.02,14946085,273885,0,0,7295448,0,0,0,0,1814917,...,0,0,15386890,356379,7593086,64679,5497157,1875589,0,0
1996.03,16361713,287330,0,0,7941015,0,0,0,0,1873066,...,0,0,16853951,362980,8306941,64834,6195468,1923728,0,0
1996.04,15612722,276682,0,0,7936402,0,0,0,0,1699358,...,0,0,16114221,367415,8299351,62517,5637764,1747174,0,0
1996.05,16057404,327237,0,0,7819184,0,0,0,0,2049991,...,0,0,16550637,440662,8156027,60807,5800186,2092955,0,0
1996.06,16059728,370382,0,0,7298169,0,0,0,0,1817277,...,0,0,16674873,576838,7623686,58841,6515060,1900449,0,0
1996.07,17657771,477910,0,0,7691843,0,0,0,0,2155786,...,0,0,18348601,687972,8067004,66550,7265681,2261394,0,0
1996.08,18147327,444881,0,0,8708273,0,0,0,0,2285110,...,0,0,18809072,608372,9068224,73492,6635571,2423413,0,0
1996.09,16000820,302732,0,0,7214316,0,0,0,0,2094861,...,0,0,16501169,378641,7520586,57056,6331855,2213031,0,0
1996.10,16927339,266687,0,0,7945638,0,0,0,0,2828172,...,0,0,17489427,343534,8288360,70313,5816529,2970692,0,0
1996.11,16928760,257408,0,0,8100307,0,0,0,0,2596883,...,0,0,17477666,324866,8458068,57790,5916371,2720570,0,0
1996.12,17814143,313778,0,0,8500986,0,0,0,0,2539386,...,0,0,18407631,390373,8863206,62271,6397722,2694059,0,0
1997.01,17756713,307737,0,0,8474212,0,0,0,0,2820603,...,0,0,18461439,379979,8841019,69361,6084799,3086281,0,0
1997.02,15497371,240769,0,0,7702846,0,0,0,0,2477715,...,0,0,16228287,304792,8037794,56702,5019339,2809659,0,0
1997.03,17694014,243629,0,0,9513981,0,0,0,0,3093618,...,0,0,18402861,289682,9825381,62804,4779982,3445012,0,0
1997.04,17043668,266198,0,0,8159875,0,0,0,0,2828997,...,0,0,17742152,319199,8416221,66599,5721999,3218134,0,0
1997.05,17460288,349893,0,0,8773179,0,0,0,0,2407760,...,0,0,18146730,443087,8996029,59108,5870348,2778159,0,0
1997.06,17919936,417444,0,0,7976376,0,0,0,0,2408626,...,0,0,18632215,641498,8181289,54649,7062841,2691939,0,0
1997.07,19365024,401012,0,0,8606145,0,0,0,0,2499798,...,0,0,20404644,807805,8870128,62068,7796002,2868641,0,0
1997.08,19615842,383843,0,0,8928200,0,0,0,0,2407090,...,0,0,20589738,616668,9174802,67988,7828720,2901560,0,0
1997.09,17631684,293454,0,0,8325673,0,0,0,0,1831091,...,0,0,18331841,404777,8462285,51786,7129680,2283312,0,0
1997.10,18412911,233561,0,0,9508714,0,0,0,0,2562993,...,0,0,19236935,329600,9724725,53632,6054010,3074968,0,0
1997.11,18127511,272660,0,0,9279367,0,0,0,0,2347140,...,0,0,18925115,355187,9561146,54457,6173887,2780438,0,0
1997.12,18420486,347295,0,0,8395025,0,0,0,0,2055253,...,0,0,19342642,511250,8722472,58870,7564042,2486008,0,0
1998.01,16796182,304607,52960,251647,7300480,449786,5478528,1138275,233891,1732343,...,269073,...,0,0,0,0,0,0,17515590,...
1998.02,15877536,293682,61630,232052,8345810,292365,6127088,1754064,172293,1466689,...,212223,...,0,0,0,0,0,0,16502744,...

In [ ]:
# 형변환 함수
def type_transform(colnames):
    for col in colnames:
        data1996_2014[col] = data1996_2014[col].astype('int')
    return data1996_2014[colnames]

In [ ]:
# 수력, 화력, 원자력,내연탄 무연탄, 유연탄, 중유, LNG, 가스전체 (대체, 집단)
water1996_2014 = data1996_2014[['한전 자회사.1-수력-소계','타사.1-수력-소계','사업자.1-수력-소계','총 발전량.1-수력-소계']]
fire1996_2014 = data1996_2014[['한전 자회사.9-복합화력-소계', '타사.5-복합화력-소계',  '사업자.10-복합화력-소계', '총 발전량.5-복합화력-소계']]
nuclear1996_2014 = data1996_2014[['한전 자회사.15-원자력-소계', '사업자.14-원자력-소계' ,'총 발전량.4-원자력-소계']]
nae1996_2014 = data1996_2014[['한전 자회사.13-내연력-소계','사업자.13-내연력-소계', '총 발전량.3-내연력-소계']]


# 가스류
gas1996_2014 = data1996_2014[['한전 자회사.4-기력-소계', '타사.4-기력(중유)-소계', '사업자.5-기력-소계','총 발전량.2-기력-소계']]
mu1996_2014 = data1996_2014[['한전 자회사.5-기력-무연탄','사업자.6-기력-무연탄']]
you1996_2014 = data1996_2014[['한전 자회사.6-기력-유연탄','사업자.7-기력-유연탄']]
jung1996_2014 = data1996_2014[['한전 자회사.7-기력-중유','타사.4-기력(중유)-소계','사업자.8-기력-중유']]
LNG1996_2014 =data1996_2014[['한전 자회사.8-기력-LNG','사업자.9-기력-LNG']]

In [ ]:
# 형변환
water1996_2014 = type_transform(water1996_2014.columns)
fire1996_2014 = type_transform(fire1996_2014.columns)
nuclear1996_2014 = type_transform(nuclear1996_2014.columns)
nae1996_2014 = type_transform(nae1996_2014.columns)

gas1996_2014 =type_transform(gas1996_2014.columns)
mu1996_2014 = type_transform(mu1996_2014.columns)
you1996_2014 = type_transform(you1996_2014.columns)
jung1996_2014 = type_transform(jung1996_2014.columns)
LNG1996_2014 = type_transform(LNG1996_2014.columns)

#multi1996_2014 = type_transform(multi1996_2014.columns)

In [ ]:
nuclear1996_2014

         한전 자회사.15-원자력-소계  사업자.14-원자력-소계  총 발전량.4-원자력-소계
시점
1996.01           5914976              0         5914976
1996.02           5497157              0         5497157
1996.03           6195468              0         6195468
1996.04           5637764              0         5637764
1996.05           5800186              0         5800186
...                   ...            ...             ...
2014.08          14003858       14003858               0
2014.09          12352438       12352438               0
2014.10          13015765       13015765               0
2014.11          12041536       12041536               0
2014.12          13684392       13684392               0

[228 rows x 3 columns]

In [ ]:
# 수력, 화력, 원자력, 내연력, 기력 / 대체, 집단(섞여있음), 가스낱개 4종(2년치 결측)
waterTotal1996_2014 = water1996_2014['총 발전량.1-수력-소계'] 
fireTotal1996_2014 = fire1996_2014['총 발전량.5-복합화력-소계'] 
nuclearTotal1996_2014 = nuclear1996_2014['총 발전량.4-원자력-소계'] 
naeTotal1996_2014 = nae1996_2014['총 발전량.3-내연력-소계']
gasTotal1996_2014 = gas1996_2014['총 발전량.2-기력-소계']

waterTotal1996_2014[24:] = water1996_2014['한전 자회사.1-수력-소계'][24:]+ water1996_2014['타사.1-수력-소계'][24:]+ water1996_2014['사업자.1-수력-소계'][24:]
fireTotal1996_2014[24:] = fire1996_2014['한전 자회사.9-복합화력-소계'][24:]+ fire1996_2014['타사.5-복합화력-소계'][24:]+ fire1996_2014['사업자.10-복합화력-소계'][24:]
nuclearTotal1996_2014[24:] = nuclear1996_2014['한전 자회사.15-원자력-소계'][24:]+ nuclear1996_2014['사업자.14-원자력-소계'][24:]
naeTotal1996_2014[24:] = nae1996_2014['한전 자회사.13-내연력-소계'][24:]+ nae1996_2014['사업자.13-내연력-소계'][24:]
gasTotal1996_2014[24:] = gas1996_2014['한전 자회사.4-기력-소계'][24:]+ gas1996_2014['타사.4-기력(중유)-소계'][24:]+ gas1996_2014['사업자.5-기력-소계'][24:]

C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\168507075.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waterTotal1996_2014[24:] = water1996_2014['한전 자회사.1-수력-소계'][24:]+ water1996_2014['타사.1-수력-소계'][24:]+ water1996_2014['사업자.1-수력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\168507075.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fireTotal1996_2014[24:] = fire1996_2014['한전 자회사.9-복합화력-소계'][24:]+ fire1996_2014['타사.5-복합화력-소계'][24:]+ fire1996_2014['사업자.10-복합화력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\168507075.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nuclearTotal1996_2014[24:] = nuclear1996_2014['한전 자회사.15-원자력-소계'][24:]+ nuclear1996_2014['사업자.14-원자력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\168507075.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  naeTotal1996_2014[24:] = nae1996_2014['한전 자회사.13-내연력-소계'][24:]+ nae1996_2014['사업자.13-내연력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\168507075.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasTotal1996_2014[24:] = gas1996_2014['한전 자회사.4-기력-소계'][24:]+ gas1996_2014['타사.4-기력(중유)-소계'][24:]+ gas1996_2014['사업자.5-기력-소계'][24:]

In [ ]:
df_1996_2014 = pd.concat([waterTotal1996_2014,fireTotal1996_2014,nuclearTotal1996_2014,naeTotal1996_2014,gasTotal1996_2014], axis=1)
df_1996_2014

,총 발전량.1-수력-소계,총 발전량.5-복합화력-소계,총 발전량.4-원자력-소계,총 발전량.3-내연력-소계,총 발전량.2-기력-소계
시점,,,,,
1996.01,363291,2119473,5914976,72696,8408979
1996.02,356379,1875589,5497157,64679,7593086
1996.03,362980,1923728,6195468,64834,8306941
1996.04,367415,1747174,5637764,62517,8299351
1996.05,440662,2092955,5800186,60807,8156027
...,...,...,...,...,...
2014.08,1661344,14549700,28007716,79018,38252780
2014.09,1595825,17504742,24704876,94134,32304434
2014.10,1380736,18220124,26031530,99492,32880650
2014.11,1147941,19118386,24083072,103190,34508326
2014.12,1176762,24261763,27368784,112864,39060018

In [433]:
data1996_2014 = pd.read_csv('../data/발전전력량_추이_1996_2014.csv', encoding='euc-kr')
data2015_2020 = pd.read_csv('../data/발전전력량_추이_2015_2020.csv', encoding='euc-kr')

In [411]:
data1996_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 55 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시점         230 non-null    object
 1   한전 자회사     230 non-null    object
 2   한전 자회사.1   230 non-null    object
 3   한전 자회사.2   230 non-null    object
 4   한전 자회사.3   230 non-null    object
 5   한전 자회사.4   230 non-null    object
 6   한전 자회사.5   230 non-null    object
 7   한전 자회사.6   230 non-null    object
 8   한전 자회사.7   230 non-null    object
 9   한전 자회사.8   230 non-null    object
 10  한전 자회사.9   230 non-null    object
 11  한전 자회사.10  230 non-null    object
 12  한전 자회사.11  230 non-null    object
 13  한전 자회사.12  230 non-null    object
 14  한전 자회사.13  230 non-null    object
 15  한전 자회사.14  230 non-null    object
 16  한전 자회사.15  230 non-null    object
 17  타사         230 non-null    object
 18  타사.1       230 non-null    object
 19  타사.2       230 non-null    object
 20  타사.3       230 non-null    object
 21  타사.4       230 non-null    object
 22  타사.5       230 non-null    object
 23  타사.6       230 non-null    object
 24  타사.7       230 non-null    object
 25  타사.8       230 non-null    object
 26  사업자        230 non-null    object
 27  사업자.1      230 non-null    object
 28  사업자.2      230 non-null    object
 29  사업자.3      230 non-null    object
 30  사업자.4      230 non-null    object
 31  사업자.5      230 non-null    object
 32  사업자.6      230 non-null    object
 33  사업자.7      230 non-null    object
 34  사업자.8      230 non-null    object
 35  사업자.9      230 non-null    object
 36  사업자.10     230 non-null    object
 37  사업자.11     230 non-null    object
 38  사업자.12     230 non-null    object
 39  사업자.13     230 non-null    object
 40  사업자.14     230 non-null    object
 41  사업자.15     230 non-null    object
 42  사업자.16     230 non-null    object
 43  사업자.17     230 non-null    object
 44  상용자가       230 non-null    object
 45  상용자가.1     230 non-null    object
 46  상용자가.2     230 non-null    object
 47  총 발전량      230 non-null    object
 48  총 발전량.1    230 non-null    object
 49  총 발전량.2    230 non-null    object
 50  총 발전량.3    230 non-null    object
 51  총 발전량.4    230 non-null    object
 52  총 발전량.5    230 non-null    object
 53  총 발전량.6    230 non-null    object
 54  총 발전량.7    230 non-null    object
dtypes: object(55)
memory usage: 99.0+ KB

In [412]:
data1996_2014 = data1996_2014.set_index('시점')
data1996_2014.columns = data1996_2014.columns + '-' + data1996_2014.iloc[0,:] + '-' + data1996_2014.iloc[1,:]
data1996_2014 = data1996_2014.drop('시점',axis=0)
data1996_2014

,한전 자회사-소계-소계,한전 자회사.1-수력-소계,한전 자회사.2-수력-일반,한전 자회사.3-수력-양수,한전 자회사.4-기력-소계,한전 자회사.5-기력-무연탄,한전 자회사.6-기력-유연탄,한전 자회사.7-기력-중유,한전 자회사.8-기력-LNG,한전 자회사.9-복합화력-소계,...,상용자가.1-한전구입-소계,상용자가.2-자가 소비-소계,총 발전량-소계-소계,총 발전량.1-수력-소계,총 발전량.2-기력-소계,총 발전량.3-내연력-소계,총 발전량.4-원자력-소계,총 발전량.5-복합화력-소계,총 발전량.6-사업자+한전구입-소계,총 발전량.7-사업자+상용자가-소계
시점,,,,,,,,,,,,,,,,,,,,,
1996.01,16379503,275441,-,-,8060220,-,-,-,-,2056170,...,-,-,16879415,363291,8408979,72696,5914976,2119473,-,-
1996.02,14946085,273885,-,-,7295448,-,-,-,-,1814917,...,-,-,15386890,356379,7593086,64679,5497157,1875589,-,-
1996.03,16361713,287330,-,-,7941015,-,-,-,-,1873066,...,-,-,16853951,362980,8306941,64834,6195468,1923728,-,-
1996.04,15612722,276682,-,-,7936402,-,-,-,-,1699358,...,-,-,16114221,367415,8299351,62517,5637764,1747174,-,-
1996.05,16057404,327237,-,-,7819184,-,-,-,-,2049991,...,-,-,16550637,440662,8156027,60807,5800186,2092955,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014.08,37719216,660348,104875,555473,19126390,760461,18116361,249569,0,3707255,...,15314,...,-,-,-,-,-,-,43473903,...
2014.09,34309730,628959,94595,534364,16152217,617652,15140281,394284,0,4833392,...,18013,...,-,-,-,-,-,-,40604161,...
2014.10,35075130,529015,58136,470880,16440325,582605,15658190,199530,0,4800810,...,30457,...,-,-,-,-,-,-,42115332,...
2014.11,34741696,418644,46707,371937,17254163,767371,16214027,267114,5650,4718772,...,51554,...,-,-,-,-,-,-,42547544,...
2014.12,40199209,427752,46049,381704,19530009,769956,18166648,507755,85650,6142331,...,87580,...,-,-,-,-,-,-,49721312,...

In [413]:
data1996_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 1996.01 to 2014.12
Data columns (total 54 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   한전 자회사-소계-소계         228 non-null    object
 1   한전 자회사.1-수력-소계       228 non-null    object
 2   한전 자회사.2-수력-일반       228 non-null    object
 3   한전 자회사.3-수력-양수       228 non-null    object
 4   한전 자회사.4-기력-소계       228 non-null    object
 5   한전 자회사.5-기력-무연탄      228 non-null    object
 6   한전 자회사.6-기력-유연탄      228 non-null    object
 7   한전 자회사.7-기력-중유       228 non-null    object
 8   한전 자회사.8-기력-LNG      228 non-null    object
 9   한전 자회사.9-복합화력-소계     228 non-null    object
 10  한전 자회사.10-복합화력-일반    228 non-null    object
 11  한전 자회사.11-복합화력-열공급   228 non-null    object
 12  한전 자회사.12-집단-소계      228 non-null    object
 13  한전 자회사.13-내연력-소계     228 non-null    object
 14  한전 자회사.14-대체-소계      228 non-null    object
 15  한전 자회사.15-원자력-소계     228 non-null    object
 16  타사-소계-소계             228 non-null    object
 17  타사.1-수력-소계           228 non-null    object
 18  타사.2-수력-일반           228 non-null    object
 19  타사.3-수력-소수력          228 non-null    object
 20  타사.4-기력(중유)-소계       228 non-null    object
 21  타사.5-복합화력-소계         228 non-null    object
 22  타사.6-복합화력-일반         228 non-null    object
 23  타사.7-복합화력-열공급        228 non-null    object
 24  타사.8-집단&대체-소계        228 non-null    object
 25  사업자-소계-소계            228 non-null    object
 26  사업자.1-수력-소계          228 non-null    object
 27  사업자.2-수력-일반          228 non-null    object
 28  사업자.3-수력-양수          228 non-null    object
 29  사업자.4-수력-소수력         228 non-null    object
 30  사업자.5-기력-소계          228 non-null    object
 31  사업자.6-기력-무연탄         228 non-null    object
 32  사업자.7-기력-유연탄         228 non-null    object
 33  사업자.8-기력-중유          228 non-null    object
 34  사업자.9-기력-LNG         228 non-null    object
 35  사업자.10-복합화력-소계       228 non-null    object
 36  사업자.11-복합화력-일반       228 non-null    object
 37  사업자.12-복합화력-열공급      228 non-null    object
 38  사업자.13-내연력-소계        228 non-null    object
 39  사업자.14-원자력-소계        228 non-null    object
 40  사업자.15-집단-소계         228 non-null    object
 41  사업자.16-대체-소계         228 non-null    object
 42  사업자.17-집단&대체-소계      228 non-null    object
 43  상용자가-소계-소계           228 non-null    object
 44  상용자가.1-한전구입-소계       228 non-null    object
 45  상용자가.2-자가 소비-소계      228 non-null    object
 46  총 발전량-소계-소계          228 non-null    object
 47  총 발전량.1-수력-소계        228 non-null    object
 48  총 발전량.2-기력-소계        228 non-null    object
 49  총 발전량.3-내연력-소계       228 non-null    object
 50  총 발전량.4-원자력-소계       228 non-null    object
 51  총 발전량.5-복합화력-소계      228 non-null    object
 52  총 발전량.6-사업자+한전구입-소계  228 non-null    object
 53  총 발전량.7-사업자+상용자가-소계  228 non-null    object
dtypes: object(54)
memory usage: 98.0+ KB

In [414]:
# 사업자 , 총계 데이터프레임 추출
detail_1996_2014 = data1996_2014.iloc[:,[25,26,30,31,32,33,34,35,38,39]]
total_1996_2014 = data1996_2014.iloc[:,[46,47,48,49,50,51]]

In [415]:
# 형변환 함수
def type_transform(colnames):
    for col in colnames:
        data1996_2014[col] = data1996_2014[col].astype('int')
    return data1996_2014[colnames]

In [416]:
data1996_2014 = data1996_2014.replace('-',np.nan)
data1996_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 1996.01 to 2014.12
Data columns (total 54 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   한전 자회사-소계-소계         228 non-null    object
 1   한전 자회사.1-수력-소계       228 non-null    object
 2   한전 자회사.2-수력-일반       204 non-null    object
 3   한전 자회사.3-수력-양수       204 non-null    object
 4   한전 자회사.4-기력-소계       228 non-null    object
 5   한전 자회사.5-기력-무연탄      204 non-null    object
 6   한전 자회사.6-기력-유연탄      204 non-null    object
 7   한전 자회사.7-기력-중유       204 non-null    object
 8   한전 자회사.8-기력-LNG      204 non-null    object
 9   한전 자회사.9-복합화력-소계     228 non-null    object
 10  한전 자회사.10-복합화력-일반    204 non-null    object
 11  한전 자회사.11-복합화력-열공급   203 non-null    object
 12  한전 자회사.12-집단-소계      12 non-null     object
 13  한전 자회사.13-내연력-소계     228 non-null    object
 14  한전 자회사.14-대체-소계      120 non-null    object
 15  한전 자회사.15-원자력-소계     228 non-null    object
 16  타사-소계-소계             228 non-null    object
 17  타사.1-수력-소계           228 non-null    object
 18  타사.2-수력-일반           204 non-null    object
 19  타사.3-수력-소수력          204 non-null    object
 20  타사.4-기력(중유)-소계       24 non-null     object
 21  타사.5-복합화력-소계         228 non-null    object
 22  타사.6-복합화력-일반         180 non-null    object
 23  타사.7-복합화력-열공급        172 non-null    object
 24  타사.8-집단&대체-소계        120 non-null    object
 25  사업자-소계-소계            204 non-null    object
 26  사업자.1-수력-소계          204 non-null    object
 27  사업자.2-수력-일반          204 non-null    object
 28  사업자.3-수력-양수          204 non-null    object
 29  사업자.4-수력-소수력         204 non-null    object
 30  사업자.5-기력-소계          204 non-null    object
 31  사업자.6-기력-무연탄         204 non-null    object
 32  사업자.7-기력-유연탄         204 non-null    object
 33  사업자.8-기력-중유          204 non-null    object
 34  사업자.9-기력-LNG         204 non-null    object
 35  사업자.10-복합화력-소계       204 non-null    object
 36  사업자.11-복합화력-일반       204 non-null    object
 37  사업자.12-복합화력-열공급      203 non-null    object
 38  사업자.13-내연력-소계        204 non-null    object
 39  사업자.14-원자력-소계        204 non-null    object
 40  사업자.15-집단-소계         120 non-null    object
 41  사업자.16-대체-소계         120 non-null    object
 42  사업자.17-집단&대체-소계      48 non-null     object
 43  상용자가-소계-소계           204 non-null    object
 44  상용자가.1-한전구입-소계       204 non-null    object
 45  상용자가.2-자가 소비-소계      204 non-null    object
 46  총 발전량-소계-소계          24 non-null     object
 47  총 발전량.1-수력-소계        24 non-null     object
 48  총 발전량.2-기력-소계        24 non-null     object
 49  총 발전량.3-내연력-소계       24 non-null     object
 50  총 발전량.4-원자력-소계       24 non-null     object
 51  총 발전량.5-복합화력-소계      24 non-null     object
 52  총 발전량.6-사업자+한전구입-소계  204 non-null    object
 53  총 발전량.7-사업자+상용자가-소계  204 non-null    object
dtypes: object(54)
memory usage: 98.0+ KB

In [417]:
data1996_2014 = data1996_2014.fillna(0)

In [418]:
detail_list=['사업자-소계-소계', '사업자.1-수력-소계', '사업자.5-기력-소계', '사업자.6-기력-무연탄','사업자.7-기력-유연탄', '사업자.8-기력-중유', '사업자.9-기력-LNG','사업자.10-복합화력-소계','사업자.13-내연력-소계', '사업자.14-원자력-소계']

total_list =['총 발전량-소계-소계', '총 발전량.1-수력-소계', '총 발전량.2-기력-소계', '총 발전량.3-내연력-소계','총 발전량.4-원자력-소계', '총 발전량.5-복합화력-소계']

In [419]:
detail_1996_2014=type_transform(detail_list)
total_1996_2014=type_transform(total_list)

detail_1996_2014.info(), total_1996_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 1996.01 to 2014.12
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   사업자-소계-소계       228 non-null    int32
 1   사업자.1-수력-소계     228 non-null    int32
 2   사업자.5-기력-소계     228 non-null    int32
 3   사업자.6-기력-무연탄    228 non-null    int32
 4   사업자.7-기력-유연탄    228 non-null    int32
 5   사업자.8-기력-중유     228 non-null    int32
 6   사업자.9-기력-LNG    228 non-null    int32
 7   사업자.10-복합화력-소계  228 non-null    int32
 8   사업자.13-내연력-소계   228 non-null    int32
 9   사업자.14-원자력-소계   228 non-null    int32
dtypes: int32(10)
memory usage: 10.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 1996.01 to 2014.12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   총 발전량-소계-소계      228 non-null    int32
 1   총 발전량.1-수력-소계    228 non-null    int32
 2   총 발전량.2-기력-소계    228 non-null    int32
 3   총 발전량.3-내연력-소계   228 non-null    int32
 4   총 발전량.4-원자력-소계   228 non-null    int32
 5   총 발전량.5-복합화력-소계  228 non-null    int32
dtypes: int32(6)
memory usage: 7.1+ KB

(None, None)

In [420]:
# 수력, 화력, 원자력, 내연력, 기력 / 대체, 집단(섞여있음), 가스낱개 4종(2년치 결측)
waterTotal1996_2014 = total_1996_2014['총 발전량.1-수력-소계'] 
fireTotal1996_2014 = total_1996_2014['총 발전량.5-복합화력-소계'] 
nuclearTotal1996_2014 = total_1996_2014['총 발전량.4-원자력-소계'] 
naeTotal1996_2014 = total_1996_2014['총 발전량.3-내연력-소계']
gasTotal1996_2014 = total_1996_2014['총 발전량.2-기력-소계']

In [421]:
waterTotal1996_2014[24:] = detail_1996_2014['사업자.1-수력-소계'][24:]
fireTotal1996_2014[24:] = detail_1996_2014['사업자.10-복합화력-소계'][24:]
nuclearTotal1996_2014[24:] = detail_1996_2014['사업자.14-원자력-소계'][24:]
naeTotal1996_2014[24:] = detail_1996_2014['사업자.13-내연력-소계'][24:]
gasTotal1996_2014[24:] = detail_1996_2014['사업자.5-기력-소계'][24:]

C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\3917567405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waterTotal1996_2014[24:] = detail_1996_2014['사업자.1-수력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\3917567405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fireTotal1996_2014[24:] = detail_1996_2014['사업자.10-복합화력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\3917567405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nuclearTotal1996_2014[24:] = detail_1996_2014['사업자.14-원자력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\3917567405.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  naeTotal1996_2014[24:] = detail_1996_2014['사업자.13-내연력-소계'][24:]
C:\Users\minsoo\AppData\Local\Temp\ipykernel_6476\3917567405.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasTotal1996_2014[24:] = detail_1996_2014['사업자.5-기력-소계'][24:]

In [489]:
df_1996_2014 = pd.concat([waterTotal1996_2014,fireTotal1996_2014,nuclearTotal1996_2014,naeTotal1996_2014,gasTotal1996_2014], axis=1)
df_1996_2014.columns=['수력','화력','원자력','내연력','기력']
df_1996_2014

             수력        화력       원자력    내연력        기력
시점
1996.01  363291   2119473   5914976  72696   8408979
1996.02  356379   1875589   5497157  64679   7593086
1996.03  362980   1923728   6195468  64834   8306941
1996.04  367415   1747174   5637764  62517   8299351
1996.05  440662   2092955   5800186  60807   8156027
...         ...       ...       ...    ...       ...
2014.08  830672   7274850  14003858  39509  19126390
2014.09  797912   8752371  12352438  47067  16152217
2014.10  690368   9110062  13015765  49746  16440325
2014.11  573970   9559193  12041536  51595  17254163
2014.12  588381  12130881  13684392  56432  19530009

[228 rows x 5 columns]

In [428]:
df_1996_2014.isnull().sum()

총 발전량.1-수력-소계      0
총 발전량.5-복합화력-소계    0
총 발전량.4-원자력-소계     0
총 발전량.3-내연력-소계     0
총 발전량.2-기력-소계      0
dtype: int64

In [478]:
data2015_2020 = pd.read_csv('../data/발전전력량_추이_2015_2020.csv', encoding='euc-kr')

In [479]:
data2015_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시점           74 non-null     object
 1   월별(1)        74 non-null     object
 2   한전 및 자회사     74 non-null     object
 3   한전 및 자회사.1   74 non-null     object
 4   한전 및 자회사.2   74 non-null     object
 5   한전 및 자회사.3   74 non-null     object
 6   한전 및 자회사.4   74 non-null     object
 7   한전 및 자회사.5   74 non-null     object
 8   한전 및 자회사.6   74 non-null     object
 9   한전 및 자회사.7   74 non-null     object
 10  한전 및 자회사.8   74 non-null     object
 11  한전 및 자회사.9   74 non-null     object
 12  한전 및 자회사.10  74 non-null     object
 13  한전 및 자회사.11  74 non-null     object
 14  한전 및 자회사.12  74 non-null     object
 15  한전 및 자회사.13  74 non-null     object
 16  한전 및 자회사.14  74 non-null     object
 17  한전 및 자회사.15  74 non-null     object
 18  타사           74 non-null     object
 19  타사.1         74 non-null     object
 20  타사.2         74 non-null     object
 21  타사.3         74 non-null     object
 22  타사.4         74 non-null     object
 23  타사.5         74 non-null     object
 24  타사.6         74 non-null     object
 25  타사.7         74 non-null     object
 26  타사.8         74 non-null     object
 27  사업자(종합)      74 non-null     object
 28  사업자(종합).1    74 non-null     object
 29  사업자(종합).2    74 non-null     object
 30  사업자(종합).3    74 non-null     object
 31  사업자(종합).4    74 non-null     object
 32  사업자(종합).5    74 non-null     object
 33  사업자(종합).6    74 non-null     object
 34  사업자(종합).7    74 non-null     object
 35  사업자(종합).8    74 non-null     object
 36  사업자(종합).9    74 non-null     object
 37  사업자(종합).10   74 non-null     object
 38  사업자(종합).11   74 non-null     object
 39  사업자(종합).12   74 non-null     object
 40  사업자(종합).13   74 non-null     object
 41  사업자(종합).14   74 non-null     object
 42  사업자(종합).15   74 non-null     object
 43  상용자가         74 non-null     object
 44  총발전량         74 non-null     object
dtypes: object(45)
memory usage: 26.1+ KB

In [480]:
data2015_2020.head()

,시점,월별(1),한전 및 자회사,한전 및 자회사.1,한전 및 자회사.2,한전 및 자회사.3,한전 및 자회사.4,한전 및 자회사.5,한전 및 자회사.6,한전 및 자회사.7,...,사업자(종합).8,사업자(종합).9,사업자(종합).10,사업자(종합).11,사업자(종합).12,사업자(종합).13,사업자(종합).14,사업자(종합).15,상용자가,총발전량
0,시점,월별(1),소계,수력,수력,수력,수력,기력,기력,기력,...,기력,기력,복합화력,원자력,신재생,집단,내연력,기타,한전구입,사업자+한전구입
1,시점,월별(1),소계,소계,일반,양수,소수력,소계,무연탄,유연탄,...,중유,LNG,소계,소계,소계,소계,소계,소계,소계,소계
2,2015,1,40246639,391618,35028,343248,13341,19981160,747773,18595501,...,565283,72603,10157844,14219729,1389857,2492152,51511,-,102306,48941856
3,2015,2,34831198,356839,39561,305124,12154,17655058,650190,16346181,...,611868,46819,8389732,12085324,1222329,2080104,47119,-,92741,42063459
4,2015,3,36989660,381252,40644,327216,13393,19147935,703659,16953652,...,1490624,-,9495291,13053018,1462182,1911254,72461,-,74550,45741749

In [481]:
data2015_2020['시점'] = data2015_2020['시점'] +'.'+ data2015_2020.iloc[:,1]

In [482]:
data2015_2020

,시점,월별(1),한전 및 자회사,한전 및 자회사.1,한전 및 자회사.2,한전 및 자회사.3,한전 및 자회사.4,한전 및 자회사.5,한전 및 자회사.6,한전 및 자회사.7,...,사업자(종합).8,사업자(종합).9,사업자(종합).10,사업자(종합).11,사업자(종합).12,사업자(종합).13,사업자(종합).14,사업자(종합).15,상용자가,총발전량
0,시점.월별(1),월별(1),소계,수력,수력,수력,수력,기력,기력,기력,...,기력,기력,복합화력,원자력,신재생,집단,내연력,기타,한전구입,사업자+한전구입
1,시점.월별(1),월별(1),소계,소계,일반,양수,소수력,소계,무연탄,유연탄,...,중유,LNG,소계,소계,소계,소계,소계,소계,소계,소계
2,2015.1,1,40246639,391618,35028,343248,13341,19981160,747773,18595501,...,565283,72603,10157844,14219729,1389857,2492152,51511,-,102306,48941856
3,2015.2,2,34831198,356839,39561,305124,12154,17655058,650190,16346181,...,611868,46819,8389732,12085324,1222329,2080104,47119,-,92741,42063459
4,2015.3,3,36989660,381252,40644,327216,13393,19147935,703659,16953652,...,1490624,-,9495291,13053018,1462182,1911254,72461,-,74550,45741749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2020.8,8,37028344,486106,196832,271733,17542,19152660,155300,18761178,...,121015,115167,10603489,12526259,2697249,3479530,39266,523212,147518,51050911
70,2020.9,9,31732039,465670,199410,250835,15425,17490336,17746,16915898,...,515236,41455,9780155,9292564,2718018,3049505,40082,519733,90953,44599442
71,2020.10,10,29877629,320248,64207,243082,12959,12902403,10420,12771246,...,109619,11118,9393692,13468311,2896983,3030188,36319,111973,127491,43164475
72,2020.11,11,31262634,288517,55234,222581,10702,13114734,258801,12610811,...,245122,-,9343792,14048115,2612808,4412968,43054,128541,49273,44932096
73,2020.12,12,35960067,360427,46669,302734,11024,14761797,230340,13974503,...,374707,182248,12254957,15059831,2727885,5254718,51986,121260,122070,51600108

In [483]:
data2015_2020 = data2015_2020.set_index('시점')
data2015_2020.columns = data2015_2020.columns + '-' + data2015_2020.iloc[0,:] + '-' + data2015_2020.iloc[1,:]
data2015_2020 = data2015_2020.drop('시점.월별(1)',axis=0)
data2015_2020

,월별(1)-월별(1)-월별(1),한전 및 자회사-소계-소계,한전 및 자회사.1-수력-소계,한전 및 자회사.2-수력-일반,한전 및 자회사.3-수력-양수,한전 및 자회사.4-수력-소수력,한전 및 자회사.5-기력-소계,한전 및 자회사.6-기력-무연탄,한전 및 자회사.7-기력-유연탄,한전 및 자회사.8-기력-중유,...,사업자(종합).8-기력-중유,사업자(종합).9-기력-LNG,사업자(종합).10-복합화력-소계,사업자(종합).11-원자력-소계,사업자(종합).12-신재생-소계,사업자(종합).13-집단-소계,사업자(종합).14-내연력-소계,사업자(종합).15-기타-소계,상용자가-한전구입-소계,총발전량-사업자+한전구입-소계
시점,,,,,,,,,,,,,,,,,,,,,
2015.1,1,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,...,565283,72603,10157844,14219729,1389857,2492152,51511,-,102306,48941856
2015.2,2,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,...,611868,46819,8389732,12085324,1222329,2080104,47119,-,92741,42063459
2015.3,3,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,...,1490624,-,9495291,13053018,1462182,1911254,72461,-,74550,45741749
2015.4,4,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,...,782872,74,8014525,13015704,1383634,1575627,56829,-,34204,41517058
2015.5,5,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,...,410329,1070,7696793,12591490,1470631,1467888,65980,-,31376,40788967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020.8,8,37028344,486106,196832,271733,17542,19152660,155300,18761178,121015,...,121015,115167,10603489,12526259,2697249,3479530,39266,523212,147518,51050911
2020.9,9,31732039,465670,199410,250835,15425,17490336,17746,16915898,515236,...,515236,41455,9780155,9292564,2718018,3049505,40082,519733,90953,44599442
2020.10,10,29877629,320248,64207,243082,12959,12902403,10420,12771246,109619,...,109619,11118,9393692,13468311,2896983,3030188,36319,111973,127491,43164475
2020.11,11,31262634,288517,55234,222581,10702,13114734,258801,12610811,245122,...,245122,-,9343792,14048115,2612808,4412968,43054,128541,49273,44932096
2020.12,12,35960067,360427,46669,302734,11024,14761797,230340,13974503,374707,...,374707,182248,12254957,15059831,2727885,5254718,51986,121260,122070,51600108

In [484]:
data2015_2020.iloc[:,0]='0' + data2015_2020.iloc[:,0]
data2015_2020['시점'] = data2015_2020.iloc[:,0] +'.'+ data2015_2020.iloc[:,1]

In [485]:
data2015_2020 = data2015_2020.drop('월별(1)-월별(1)-월별(1)', axis=1)
data2015_2020

,한전 및 자회사-소계-소계,한전 및 자회사.1-수력-소계,한전 및 자회사.2-수력-일반,한전 및 자회사.3-수력-양수,한전 및 자회사.4-수력-소수력,한전 및 자회사.5-기력-소계,한전 및 자회사.6-기력-무연탄,한전 및 자회사.7-기력-유연탄,한전 및 자회사.8-기력-중유,한전 및 자회사.9-기력-LNG,...,사업자(종합).9-기력-LNG,사업자(종합).10-복합화력-소계,사업자(종합).11-원자력-소계,사업자(종합).12-신재생-소계,사업자(종합).13-집단-소계,사업자(종합).14-내연력-소계,사업자(종합).15-기타-소계,상용자가-한전구입-소계,총발전량-사업자+한전구입-소계,시점
시점,,,,,,,,,,,,,,,,,,,,,
2015.1,40246639,391618,35028,343248,13341,19981160,747773,18595501,565283,72603,...,72603,10157844,14219729,1389857,2492152,51511,-,102306,48941856,01.40246639
2015.2,34831198,356839,39561,305124,12154,17655058,650190,16346181,611868,46819,...,46819,8389732,12085324,1222329,2080104,47119,-,92741,42063459,02.34831198
2015.3,36989660,381252,40644,327216,13393,19147935,703659,16953652,1490624,-,...,-,9495291,13053018,1462182,1911254,72461,-,74550,45741749,03.36989660
2015.4,33667819,270808,60936,194723,15149,17006886,597629,15626311,782872,74,...,74,8014525,13015704,1383634,1575627,56829,-,34204,41517058,04.33667819
2015.5,33674327,268335,80413,173165,14757,17006381,644195,15950787,410329,1070,...,1070,7696793,12591490,1470631,1467888,65980,-,31376,40788967,05.33674327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020.8,37028344,486106,196832,271733,17542,19152660,155300,18761178,121015,115167,...,115167,10603489,12526259,2697249,3479530,39266,523212,147518,51050911,08.37028344
2020.9,31732039,465670,199410,250835,15425,17490336,17746,16915898,515236,41455,...,41455,9780155,9292564,2718018,3049505,40082,519733,90953,44599442,09.31732039
2020.10,29877629,320248,64207,243082,12959,12902403,10420,12771246,109619,11118,...,11118,9393692,13468311,2896983,3030188,36319,111973,127491,43164475,010.29877629
2020.11,31262634,288517,55234,222581,10702,13114734,258801,12610811,245122,-,...,-,9343792,14048115,2612808,4412968,43054,128541,49273,44932096,011.31262634
2020.12,35960067,360427,46669,302734,11024,14761797,230340,13974503,374707,182248,...,182248,12254957,15059831,2727885,5254718,51986,121260,122070,51600108,012.35960067

In [486]:
data2015_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 2015.1 to 2020.12
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   한전 및 자회사-소계-소계       72 non-null     object
 1   한전 및 자회사.1-수력-소계     72 non-null     object
 2   한전 및 자회사.2-수력-일반     72 non-null     object
 3   한전 및 자회사.3-수력-양수     72 non-null     object
 4   한전 및 자회사.4-수력-소수력    72 non-null     object
 5   한전 및 자회사.5-기력-소계     72 non-null     object
 6   한전 및 자회사.6-기력-무연탄    72 non-null     object
 7   한전 및 자회사.7-기력-유연탄    72 non-null     object
 8   한전 및 자회사.8-기력-중유     72 non-null     object
 9   한전 및 자회사.9-기력-LNG    72 non-null     object
 10  한전 및 자회사.10-복합화력-소계  72 non-null     object
 11  한전 및 자회사.11-원자력-소계   72 non-null     object
 12  한전 및 자회사.12-신재생-소계   72 non-null     object
 13  한전 및 자회사.13-집단-소계    72 non-null     object
 14  한전 및 자회사.14-내연력-소계   72 non-null     object
 15  한전 및 자회사.15-기타-소계    72 non-null     object
 16  타사-소계-소계             72 non-null     object
 17  타사.1-수력-소계           72 non-null     object
 18  타사.2-수력-일반           72 non-null     object
 19  타사.3-수력-소수력          72 non-null     object
 20  타사.4-기력-유연탄          72 non-null     object
 21  타사.5-복합화력-소계         72 non-null     object
 22  타사.6-신재생-소계          72 non-null     object
 23  타사.7-집단-소계           72 non-null     object
 24  타사.8-기타-소계           72 non-null     object
 25  사업자(종합)-소계-소계        72 non-null     object
 26  사업자(종합).1-수력-소계      72 non-null     object
 27  사업자(종합).2-수력-일반      72 non-null     object
 28  사업자(종합).3-수력-양수      72 non-null     object
 29  사업자(종합).4-수력-소수력     72 non-null     object
 30  사업자(종합).5-기력-소계      72 non-null     object
 31  사업자(종합).6-기력-무연탄     72 non-null     object
 32  사업자(종합).7-기력-유연탄     72 non-null     object
 33  사업자(종합).8-기력-중유      72 non-null     object
 34  사업자(종합).9-기력-LNG     72 non-null     object
 35  사업자(종합).10-복합화력-소계   72 non-null     object
 36  사업자(종합).11-원자력-소계    72 non-null     object
 37  사업자(종합).12-신재생-소계    72 non-null     object
 38  사업자(종합).13-집단-소계     72 non-null     object
 39  사업자(종합).14-내연력-소계    72 non-null     object
 40  사업자(종합).15-기타-소계     72 non-null     object
 41  상용자가-한전구입-소계         72 non-null     object
 42  총발전량-사업자+한전구입-소계     72 non-null     object
 43  시점                   72 non-null     object
dtypes: object(44)
memory usage: 25.3+ KB

In [492]:
total_2015_2020 = data2015_2020.iloc[:,[25,35,36,39,30]] 
total_2015_2020.columns=['수력','화력','원자력','내연력','기력']
total_2015_2020

               수력        화력       원자력    내연력        기력
시점
2015.1   48839550  10157844  14219729  51511  19981160
2015.2   41970717   8389732  12085324  47119  17655058
2015.3   45667199   9495291  13053018  72461  19147935
2015.4   41482855   8014525  13015704  56829  17006886
2015.5   40757591   7696793  12591490  65980  17006381
...           ...       ...       ...    ...       ...
2020.8   50903392  10603489  12526259  39266  19959998
2020.9   44508489   9780155   9292564  40082  18228194
2020.10  43036984   9393692  13468311  36319  13625540
2020.11  44882823   9343792  14048115  43054  13868808
2020.12  51478038  12254957  15059831  51986  15511381

[72 rows x 5 columns]

In [ ]:
# 타입 변환, date타입 변환 -> 시점(2컬럼) : 연도, 월 
# LNG + LNG외 기력 총합
# 대체, 집단, 신재생 합치고

: